/*Navbar Responsive*/
@media screen and (max-width: 1024px){
	.button-toggle {
		display: flex;
		z-index: 2;
	}
	nav ul {
		width: 25%;
		position: absolute;
		right: 0;
		top: 0;
		height: 100vh;
		right: 0;
		justify-content: space-evenly;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		background-color: #f1f1f1;
		z-index: 1;
		transform: translateX(100%);
		transition: all 1s
	}

	nav ul.geser {
		transform: translateX(0);
	}

	nav ul li a {
		font-weight: 600;
	}
}
@media screen and (max-width: 800px) {
	.button-toggle {
		display: flex;
		z-index: 2;
	}
	nav ul {
		width: 25%;
		position: absolute;
		right: 0;
		top: 0;
		height: 100vh;
		right: 0;
		justify-content: space-evenly;
		flex-direction: column;
		-ms-align-items: center;
		align-items: center;
		background-color: #f1f1f1;
		z-index: 1;
		transform: translateX(100%);
		transition: all 1s
	}

	nav ul.geser {
		transform: translateX(0);
	}

	nav ul li a {
		font-weight: 600;
	}
}

/*Nav Image Responsive*/
@media screen and (max-width: 576px){
	.image-yk {
		left: 30%;
		top: 15%;
		transform: translate(-20%, 0%);
	}
	.isi-image p {
		font-size: 35px;
		text-align: center;
		left: 0;
		top: 35%;
		transform: translate(-10%,40%);
	}
}
@media screen and (max-width: 1300px){
	.image-yk {
		left: 45%;
		top: 15%;
	}
	.isi-image p {
		font-size: 35px;
		text-align: center;
		left: 30%;
		top: 35%;
	}
}
@media screen and (max-width: 1200px){
	.image-yk {
		left: 45%;
		top: 10%;
	}
	.isi-image p {
		font-size: 35px;
		text-align: center;
		top: 22%;
	}
}
@media screen and (max-width: 768px){
	.image-yk {
		top: 15%;
	}
	.isi-image p {
		font-size: 35px;
		text-align: center;
		left: 25%;
		top: 32%;
	}
}
@media screen and (max-width: 900px){
	.image-yk {
		left: 45%;
		top: 10%;
	}
	.isi-image p {
		font-size: 30px;
		text-align: center;
		left: 25%;
		top: 25%;
	}
}
@media screen and (max-width: 414px){
	.image-yk {
		left: 42%;
		top: 20%;
	}
	.isi-image p {
		font-size: 35px;
		text-align: center;
		left: 20%;
		top: 35%;
	}
}
@media screen and (max-width: 380px){
	.image-yk {
		left: 42%;
		top: 20%;
	}
	.isi-image p {
		font-size: 35px;
		text-align: center;
		left: 20%;
		top: 35%;
	}
}


/*Menu Content*/
@media screen and (max-width: 1024px){
	#menu-content {
		padding: 20px 25%;
	}
	.row-con img {
		max-width: 110px;
	}
}

@media screen and (max-width: 800px){
	#menu-content {
		padding: 20px 20%;
	}
	.row-con img {
		max-width: 100px;
	}
}

@media screen and (max-width: 768px){
	#menu-content {
		padding: 20px 20%;
	}
	.row-con img {
		max-width: 100px;
	}
}

@media screen and (max-width: 576px){
	#menu-content {
		flex-direction: column;
	}
	.row-con img {
		width: 100px;
		padding: 2% 0;
	}
}



/*Pembagian*/
#head-content {
	padding: 100px 10%;
}
#content {
	float: left;
	width: 60%;
}
aside {
	float: right;
	width: 40%;
	
	padding: 0 5%;
}

/*SATU*/
.satu {
	padding: 0 5%;
	line-height: 1.5em;
}
.satu img {
	width: 100%;
	border-radius: 20px;
	padding-bottom: 5px;
}
.satu p {
	text-align: justify;
	font-size: 15px;
	line-height: 2em;
}
.satu h2 {
	font-size: 25px;
	padding: 20px 0;
}
.satu h3 {
	font-size: 12px;
	color: #a69f9f;
	font-style: oblique;
}
.satu h3 a {
	text-decoration: none;
	color: #a69f9f;
}
.satu h3 a:hover {
	color: black;
}


/*Halaman*/
@media screen and (max-width: 800px){
	#content, aside {
		width: 100%;
	}
	aside {
		padding: 5% 15% 0 15%;
	}
	.satu {
		padding: 5%;
	}
}
@media screen and (max-width: 1024px){
	#content, aside {
		width: 100%;
	}
	aside {
		padding: 5% 15% 0 15%;
	}
	.satu {
		padding: 5%;
	}
}
@media screen and (max-width: 768px){
	#content, aside {
		width: 100%;
	}
	aside {
		padding: 5% 15% 0 15%;
	}
	.satu {
		padding: 5%;
	}
}
@media screen and (max-width: 578px){
	aside {
		padding: 5% 0;
	}
	.satu {
		padding: 0;
	}
}

/*FLEXBOX*/
@media screen and (max-width: 768px){
	.kepala-flex {
		padding: 0 10%;
	}
    .flex-column {
        flex-direction: row;
    }
    .bok {
    	width: 100%;
    }
    .flex-row {
        flex-direction: column;
    }

    .text-flex {
        font-size: 20px;
        font-variant: normal;
        padding: 20px 0;
    }
}

@media screen and (max-width: 576px){
	.kepala-flex {
		padding: 0;
	}
    .flex-column {
        flex-direction: column;
        padding: 20px;
    }
    .text-flex {
        font-size: 20px;
        font-variant: normal;
        padding: 15%;
    }
}

/*footer*/
@media screen and (max-width: 1024px){
	footer {
		transform: translateY(4800px);
	}
}
@media screen and (max-width: 1000px){
	footer {
		transform: translateY(4500px);
	}
}
@media screen and (max-width: 768px){
	footer {
		transform: translateY(4500px);
	}
}
@media screen and (max-width: 576px){
	footer {
		transform: translateY(4800px);
	}
}
@media screen and (max-width: 576px){
	footer {
		transform: translateY(4850px);
	}
	footer p {
		font-size: 13px;
	}
}
